@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the WseiGame Store.</p>
    <a asp-controller="GamesController" asp-action="Index">Browse our games catalog</a>
</div>
